<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Syntax" value="sjasmplus" /><!--sjasmplus,zeus,dotnetattributes -->
	  <add key="OutputFile" value=".\version.asm" />
	  <add key="DateFormat" value="dd MMM yyyy" />
	  <add key="TimeFormat" value="HH:mm" />
	  <add key="TimeFormatSecs" value="HH:mm:ss" />
	  <add key="UpperCase" value="false" />
	  <add key="IncludeWidths" value="false" />
	  <add key="IncludeMacros" value="true" />
	  <add key="IncludeStringLiterals" value="true" />
	  <add key="Copyright" value="© [yyyy] Robin Verhagen-Guest" />
	  <add key="CopyrightStartYear" value="2019" />
  </appSettings>
</configuration>